.order-history-list-button-back {
	@extend .button-back;
}
.order-history-list-header {
	padding: $sc-padding-lv3 0;
	overflow:hidden;

}
.order-history-list-header {
	h2{
		float: left;
	}
}
.order-history-list-header{
	#searchhint{
		margin-top: 12px;
		float: right;
		margin-left: 5px;
	}
}
.inner-addon{
	position: relative;
	width: 30%;
}
.inner-addon{
	.fa-search{
	position: absolute !important;
    top: 9px;
    right: 12px;
    font-size: 21px;
    color: #a6a6a6;
	}
}
.inner-addon{
	input{
		border:1px solid #dadada;
		border-radius: 4px;
	}
}
.order-history-list-button-back-icon {
	@extend .button-back-icon;
}
.order-history-list-empty {
	@extend .list-empty;
}

.order-history-list-recordviews-container{
	@media (min-width: $screen-md-min) {
	.recordviews-actionable-title-header,
	.recordviews-actionable-title {
		width: 20%;
	}
	.recordviews-actionable-origin-header,
	.recordviews-actionable-origin {
		width: 15%;
		text-align: left;
	}
	.recordviews-actionable-date-header,
	.recordviews-actionable-date {
		width: 15%;
		text-align: right;
	}
	.recordviews-actionable-currency-header,
	.recordviews-actionable-currency {
		width: 20%;
		text-align: right;
	}
	.recordviews-actionable-status-header,
	.recordviews-actionable-status {
		width: 25%;
		text-align: left;
	}
	.recordviews-actionable-actions-header,
	.recordviews-actionable-actions {
		width: 30%;
		text-align: right;
	}
}
}

.order-history-list-recordviews-actionable-table {
	@extend .recordviews-actionable-table;

	.recordviews-actionable-origin {
		padding-bottom:0px;
	}

	@media (min-width: $screen-sm-min) {
		.recordviews-actionable-origin {
			padding-bottom:$sc-padding-lv3;
		}
	}
}

.order-history-list-recordviews-actionable-header{
	@extend .recordviews-actionable-header;
}

.order-history-list-recordviews-actionable-title-header{
	@extend .recordviews-actionable-title-header;
}

.order-history-list-recordviews-actionable-date-header{
	@extend .recordviews-actionable-date-header;
}

.order-history-list-recordviews-actionable-currency-header{
	@extend .recordviews-actionable-currency-header;
}

.order-history-list-recordviews-actionable-status-header{
	@extend .recordviews-actionable-status-header;
}

.order-history-list-recordviews-actionable-actions-header{
	@extend .recordviews-actionable-actions-header;
}

.order-history-list-case-list-paginator{
	@extend .case-list-paginator;
}

.order-history-list-recordviews-actionable-origin-header {
	@extend .recordviews-actionable-origin-header;
}
.order-history-list-header-nav {
	margin-bottom: $sc-margin-lv4;
	position:relative;
}

.order-history-list-header-button-group {
	@extend .pill-button-group;

	a, span {
		display:table-cell;
	}
}

.order-history-list-header-button-active {
	@extend .button-medium;
	@extend .pill-button-active;
}

.order-history-list-header-button {
	@extend .button-medium;
	@extend .pill-button;
}

.order-history-list-header-button-open-active {
	@extend .order-history-list-header-button-active;
	width: auto;
}

.order-history-list-header-button-instore-active {
	@extend .order-history-list-header-button-active;
}

.order-history-list-header-button-all-active {
	@extend .order-history-list-header-button-active;
	width: auto;
}

.order-history-list-header-button-open {
	@extend .order-history-list-header-button;
}

.order-history-list-header-button-instore {
	@extend .order-history-list-header-button;
	border-left:0px;
	border-right:0px;
}

.order-history-list-header-button-all {
	@extend .order-history-list-header-button;
}



.order-history-list-empty-section {
	padding:$sc-padding-lv8 $sc-padding-lv3 $sc-padding-lv3 $sc-padding-lv3;
 	text-align:center;
}
.orderfilters{
	width: 100%;
	text-align: left;
	background-color: #eee;
  color: #787878;
  display: block;
  padding: 9px;
  margin-bottom: 5px;
}
.orderfilters:hover{
	color: #787878;
}
.OrderListView{
	 .list-header-view-accordion-body-input{
		 height:30px;
	 }
	 .list-header-view-cmtstatus{
		 display: inline-block;
		 height: 40px;
		 vertical-align: top;
		 .cmtstatus{
			 margin-left: 10px;
		    height: 30px;
		    border: 1px solid #ccc;
		    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
				padding: 0 0 0 10px;
		}
	 }
	 .list-header-view-datepicker-cmtdate{
		 display: inline-block;
		 height: 40px;
	 }
	 .list-header-view-datepicker-to{
		 height: 40px;
	 }
	 .searchordersbtn{
		 vertical-align: top;
		 display: inline-block;
		 height: 40px;
	 }

}
.list-header-view-datepicker-from label, .list-header-view-datepicker-to label{
	margin:0px;
}
.list-header-view-datepicker-from, .list-header-view-datepicker-to{
	margin:0px;
}
.list-header-view-accordion-body-calendar-icon{
		padding:8px;
}
input.list-header-view-accordion-body-input{
	width: 130px;
}
input, select, textarea{
	font-size:10px;
}
