.profile-update-password-button-back {
    @extend .button-back;
}

.profile-update-password-button-back-icon {
    @extend .button-back-icon;
}

.profile-update-password-form-label {
    display: inline-block;
}

.profile-update-password-form-group-label-required {
    @extend .input-required;
}

.profile-update-password {
    @extend .address-edit;
    padding: 0;
}
.profile-update-password {
    h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #a6a6a6;
    line-height: 24px;
    }
}
.profile-update-password{
    .divider-small-2{
        margin-top: 40px;
    }
}
.profile-update-password-form {
    margin-top: $sc-margin-lv3;
}

.profile-update-password-form-group,
.profile-update-password-form-actions {
    margin-top: $sc-margin-lv4;
}





.profile-update-password-form-group-input {
    @extend .input-large
}

.profile-update-password-form-actions-update {
    @extend .button-primary;
    @extend .button-medium;
    background: linear-gradient(to bottom, #f5f5f5, #cccccc);
    float: right;
}

.profile-update-password-form-actions-reset {
    @extend .button-tertiary;
    @extend .button-medium;
    @extend .button-positioning-stack2next;
}

