.creditcard-list-button-back {
    @extend .button-back;
}

.creditcard-list {
    @extend .clearfix;
}

.creditcard-edit-button-back-icon {
    @extend .button-back-icon;
}

.creditcard-list-button-back-icon {
    @extend .button-back-icon;
}

.creditcard-list {
    @extend .address-list;
}

.creditcard-list-button-container {
    @extend .address-list-button-container;
    margin: 0 !important;
}

.creditcard-list-button {
    @extend .button-info-cards-new;
}

.creditcard-list-collection {
    @extend .row;
}
.creditcard-list {
 h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #a6a6a6;
    line-height: 24px;
 }
}
.creditcard-list{padding: 0;}
@media only screen and (max-width: 767px) {
.creditcard-list{text-align: center;}
.creditcard-header-icon{float: none !important;}
}