
.login-register-forgot-password-body{

	background-color: $sc-color-theme-background;
	margin-top: $sc-margin-lv4;
	margin-right: - $sc-margin-lv3;
	margin-left:  - $sc-margin-lv3;
	padding:$sc-padding-lv8 $sc-padding-lv4;
	float: left;
    border: 1px solid #e0dede;
    border-radius: 3px;

	@media (min-width: $screen-sm-min){
		margin-right: 0;
		margin-left:  0;
		padding: $sc-padding-lv8;
	}
}

.login-register-forgot-password-description{
	margin-top: $sc-margin-lv4;
}

.login-register-forgot-password-form{
	margin-top: $sc-margin-lv2;
	.global-views-message {
		margin-bottom: 0;
	}
}

.login-register-forgot-password-form-controls-group{
	margin-top: $sc-margin-lv4;
}



.login-register-forgot-password-form-required{
	@extend .input-required;
}

.login-register-forgot-password-form-input{
	@extend .input-large;
}

.login-register-forgot-password-submit{
	@extend .button-large;
	@extend .button-primary;
	padding: 15px !important;
}

.login-register-forgot-password-sign-in{
	display:inline-block;
	margin-top: $sc-margin-lv2;
	background: linear-gradient(to bottom, white, #e6e6e6);
    background-repeat: repeat;
    color: black;
    padding: 3px 12px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    font-size: 12px;
&:hover{
	text-decoration: underline;
}
}



