.login-register-header{
	@extend .row;
	margin-bottom: $sc-margin-lv4;
}

.login-register-title{
	@extend .col-xs-12;
}

.login-register-body{
	@extend .row;
}

.login-register-body-colored{
	@extend .login-register-body;
	background-color: transparent;
	padding: $sc-padding-lv8 $sc-padding-lv1;
	padding-top: 0 !important;
	padding-left: 0 !important;
}

.login-register-wrapper-column-login,
.login-register-wrapper-column-register{
	@extend .col-xs-12;
	@extend .col-sm-6;
}
.login-register-wrapper-column-login{
	border: #e0e0e0 1px solid;
	background: white;
}
.login-register-wrapper-login,
.login-register-wrapper-register{
	@extend .box-column;
}
.login-register-login-title{
	font-weight: 400;
    font-size: 20px;
    color: #a6a6a6;
    line-height: 24px;
}
.divider-custom{
	margin-bottom: 23px;
    margin-top: 29px;
    background: #e0e0e0;
}